.header {
  grid-area: header;
  background: #6f9dea;
  display: block;
  border-radius: 0 0 15px 15px;
}

header > img {
  width: 60px;
  margin: 7px;
}

.section_auth {
  float: right;
  display: inline-block;
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
}

.user_avatar {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  align-self: center;
  margin-right: 10px;
  color: white;
}
